@media screen and (min-width: 501px) {
  .VotesAndAddComment {
    font-size: 2.7em;
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
  list-style-type: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.App {

  text-align: center;
  font-size: large;
  background-color: #E2E2E2;
  color: #252207;

}


.Header {
  background-color: #252207;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E2E2E2;
  text-align: center;
}

.HeaderTitle {
  color: #E2E2E2;
}

.App-link {
  color: #61dafb;
}

.reviewImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
  width: 25%;
  height: auto;
}

.SingleReviewImage{
  width: auto;
  
}

.SingleReview{
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  row-gap: 1em;
  align-items: center;
  justify-content: center;
  margin: 2em;
  column-gap: 2em;
  font-size: 1rem;
}

.ReviewCard {
  min-width: 320px;
  width: 100%;
  border: 1px;
 display: block;
 padding-left: 5em;
 padding-right: 5em;
 margin: auto;
 margin-bottom: 2rem;
}

.reviewCard {
  width: 40em;
  border-style: groove;
  display: block;
  align-items: center;
  justify-content: center;
    margin: auto;
  margin-bottom: 25px;
  padding: 15px;
  
  }

  .reviewCard > :any-link {
    color: #141204;
  }

  .Nav {
    font-size:larger;
    background-color: #21242b;
    color: white;
  }

  .Nav > :any-link {
    color: #E2E2E2;
  }

  .NavLink {
    margin-top: 2em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

.VoteButton {
  background-color: #a7a7a7;
  border-radius: 20%;
  font-size: 1em;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  box-shadow: 1rem 1rem 1rem #979797
}




.Error {
  color: darkred;
}
 
a:link { text-decoration: none;
color: #141204; }


a:visited { text-decoration: none;
  color: #141204; }


a:hover { text-decoration: none; 
  color: #141204; }


a:active { text-decoration: none;
color: #141204; }

.CommentsListItem {
  display: block;
  border-radius: 10%;
  border: 1.5px solid #a7a7a7;
  margin-bottom: 1em;
  
  
}


