*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.App {

  text-align: center;
  font-size: medium;
  background-color: #E2E2E2;
  color: #141204;

}


.Header {
  background-color: #141204;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E2E2E2;
  text-align: center;
}

.HeaderTitle {
  color: #E2E2E2;
}

.App-link {
  color: #61dafb;
}

.reviewImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}

.SingleReviewImage{
  width: auto;
  
}

.SingleReview{
  margin: auto;
 display: block;
 padding-left: 5em;
 padding-right: 5em;
 margin: auto;
}

.SingleReviewText {
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 0.8rem;
}

.reviewCard {
  width: 40em;
  border-style: groove;
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
  
}

a:link { text-decoration: none;
color: #141204; }


a:visited { text-decoration: none;
  color: #141204; }


a:hover { text-decoration: none; 
  color: #141204; }


a:active { text-decoration: none;
color: #141204; }

