*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.App {
  text-align: center;
  font-size: medium;
}


.Header {
  background-color: #21242b;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.reviewImage {
  width: 100px;
  height: 100px;
}

.SingleReviewImage{
  width: 350px;
  
}

.SingleReview{
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-content: center;
}

.SingleReviewText {
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 100%;
}

.reviewCard {
  width: 400px;
  border: 1px;
  border-style: groove;
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  align-items: center;
  justify-content: center;
 
  margin: auto;
  margin-bottom: 25px;
  padding: 15px;
  
}

